<nav class="{{include.navClass}}" role="navigation">
  <ul class="{{include.ulClass}}">
    <li class="{{include.liLogo}}">
      <a class="inline-block" href="/">
        {% if site.data.site.logoType == 'logo' %}
        {% elsif site.data.site.logoType == 'svg code' %}
          {% include svg/wordmark.html %}
        {% elsif site.data.site.logoType == 'wordmark' %}
          {% if page.url == '/' %}
            <h1>{{site.data.site.title}}</h1>
          {% else %}
            <strong>{{site.data.site.title}}</strong>
          {% endif %}
        {% endif %}
      </a>
    </li>
    <li>
      <a class="inline-block" href="/venue">Venue</a>
    </li>
    <li>
      <a class="inline-block" href="/rsvp">RSVP</a>
    </li>
  </ul>
</nav>
